@charset "UTF-8";


body {
	display:flex;
	 margin:20px;
 	 background-color: #f8f8f8;
 	 font-family: roboto;
 	 justify-content: center;
 	 align-items: center;
 	 width: 100%;
 	 height: 100%;
 
 	 
}
.title{
	font-family: roboto;
	font-size:30px;
	font-weight: black;
	margin: 20px;
	color: #3B0EEE;
	margin-bottom: 50px;
}
.header{
	
}
.container{
	width: 510px;
	height: 530px;
	justify-content: center;
	align-items: center;
	background-color: #eeeeee;
	padding: 10px;
	text-align: center;
	border-radius: 10px
	
	
}
.body_manager{
	border-radius: 10px;
	padding: 20px;
	align-items: center;
	justify-content: center;
	 width: 100%;
 	 height: 100%;
 	 display: flex;
 	 
}
.row_1{
	text-align: left;
	justify-content: center;
	width: 100px;
	font-size: 15px;
	padding: 15px
	
}
.row_2{
	justify-content: center;
	width: 330px;
	font-size: 15px;
	padding: 10px;
	height: 20px
	
}
.save{
	background-color: #3B0EEE;
	color: white;
	padding: 10px;
	padding-left:35px;
	padding-right:35px;
	border-radius: 5px;
	border: none;
	margin-left: 245px;
	margin-top: 40px;
	font-weight: 600;
	font-size: 15px;
	border: 0.5px solid #3B0EEE ;
	
}
.back{
	font-size: 15px;
	background-color: white;
	color: #3B0EEE;
	padding: 10px;
	padding-left:35px;
	padding-right:35px;
	border-radius: 5px;
	border: 0.5px solid #3B0EEE ;
	margin-left: 10px;
	text-decoration: none;
	position: absolute;
	margin-left: -20px;
	margin-top: -60px;
	
}


